<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div class="tweet-page" style='padding:10px 40px'>
  <%= turbo_frame_tag "tweets-page-#{@tweets.current_page}" do %>
    <%= render @tweets %>
    <%= turbo_frame_tag "tweets-page-#{@tweets.next_page}", loading: :lazy, src: path_to_next_page(@tweets) %>
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>
